/*Untuk Smartphone*/
@media all and (max-width:670px) {
    .home {
        height: 60vh;
    }

    .logo {
        font-size: 8px;
    }

    .navBarOption {
        display: none;
    }

    span.menu-icon {
        display: block;
    }

    .container {
        /* left: 100%; */
        /* left: 100px; */
        top: 20%;
        padding-left: 100px;
    }

    .intro h1 {
        font-size: 16px;
    }

    .intro p {
        font-size: 8px;
    }

    svg {
        /* top: 55px; */
        width: 100px;
        height: 70px;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image {
        position: absolute;
        left: 150px;
        z-index: -1;
        /* bottom: 0; */
        top: 15px;
        opacity: 60%;
    }

    .image img {
        height: 50vh;
    }

    .about {
        padding-left: 10px;
    }

    .about-me-content {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    .about-me {
        /* padding-left: 10px; */
    }

    .desc {
        width: 70%;
    }

    .desc p {
        font-size: 12px;
    }

    .skill-bar {
        width: 70%;
        padding: 0;
    }

    .details {
        padding-top: 10px;
    }

    .details span {
        font-size: 10px;
    }

    .portfolio {
        /* padding-left: 50px; */
        height: 100vh;
        display: flex;
        flex-direction: column;
        /* padding-bottom: 0px; */
    }

    .portfolio .cardActive {
        width: 100px;
        height: 100px;
    }

    .footer {
        margin-bottom: 25px;
    }

    .top-foot {
        font-size: 8px;
        /* padding: 0; */
        padding-top: 20px;
    }

    .btn {
        height: 40px;
        width: 100px;
    }

    .btn span {
        font-size: 8px;
    }

    .button {
        width: 25px;
        height: 25px;
        border-radius: 5px;
    }

    .social-media {
        width: 80%;
    }

    .social-footer {
        padding: 0;
    }
}

/*Untuk Tablet*/
/* @media all and (max-width:1000px) {
    .logo {
        font-size: 8px;
    }

    .navBarOption ul {
        gap: 30px;
    }

    .nav-bar {
        font-size: 8px;
    }

    svg {
        top: 140px;
    }

    .container {
        left: 25%;
    }

    .intro h1 {
        font-size: 24px;
    }

    .about-me {
        padding: 0;
        padding-left: 10%;
        padding-top: 25px;
    }

    .desc {
        width: 50%;
    }

    .portfolio {
        padding: 0;
        padding-top: 20px;
        height: 50vh;
    }
} */