* {
    box-sizing: border-box;
    font-family: "Source Sans Pro";
    margin: 0px;
}

.home {
    background-image: url("black-bckgrnd.jpg");
    padding: 20px 60px;
    height: 100vh;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 16px;
    color: #C69749;
}

.logo span {
    color: white;
}

.navBarOption {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.navBarOption a {
    color: white;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-size: 16px;
}

.navBarOption a::after {
    display: inline-block;
    position: absolute;
    bottom: -2px;
    left: 50%;
    content: "";
    background-color: #C69749;
    width: 0%;
    height: 2px;
    border-radius: 5px;
    transition: all .5s;
}

.navBarOption a:hover::after {
    width: 100%;
    left: 0px;
}

.navBarOption ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.container {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 20%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.intro {
    width: 800px;
    height: 10px;
    position: absolute;
    color: white;
}

.intro span {
    color: #C69749;
}

.intro h1 {
    font-size: 56px;
}

.intro p {
    font-size: 16px;
}

.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #C69749;
    outline: none;
    transition: 1s ease-in-out;
    border-radius: 10px;
    margin-top: 20px;
}

svg {
    position: absolute;
    left: 0;
    top: 180px;
    fill: none;
    stroke: white;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #C69749;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    color: white;
    font-size: 16px;
    font-weight: 100;
}

.button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #C69749;
    outline: none;
    transition: 1s ease-in-out;
    border-radius: 10px;
    margin-top: 20px;
}

.button:hover {
    transition: 1s ease-in-out;
    background: #C69749;
}

.social {
    display: flex;
    flex-direction: row;
    max-width: 10px;
    gap: 10px;
    padding-top: 20px;
}

.fa-facebook {
    color: white;
}

.fa-instagram {
    color: white;
}

.fa-envelope {
    color: white;
}

.fa-linkedin {
    color: white;
}

.about {
    padding-bottom: 80px;
}

.about-me {
    padding-top: 60px;
    padding-left: 160px;
}

.about-me-content {
    display: flex;
    flex-direction: row;
}

.desc {
    max-width: 450px;
}

.about-me h1 {
    font-size: 32px;
    padding-bottom: 30px;
}

.desc p {
    font-size: 16px;
}


.skill-bar {
    width: 45%;
    padding-left: 55px;
    /* padding: 30px 30px 50px; */
    /* background-color: white; */
    border: 2px solid rgba(255, 255, 255, 0.06);
    border-radius: 10px;
    /* box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2); */
    /* backdrop-filter: blur(10px); */
}


.skills:not(:last-child) {
    margin-bottom: 10px;
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bar {
    position: relative;
    border: 2px solid #C69749;
    border-radius: 20px;
}

.bar div {
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #C69749;
}

#html-bar {
    animation: html-fill 2s forwards;
}

@keyframes html-fill {
    100% {
        width: 90%;
    }
}

#css-bar {
    animation: css-fill 2s forwards;
}

@keyframes css-fill {
    100% {
        width: 75%;
    }
}

#js-bar {
    animation: js-fill 2s forwards;
}

@keyframes js-fill {
    100% {
        width: 60%;
    }
}

#cpp-bar {
    animation: cpp-fill 2s forwards;
}

@keyframes cpp-fill {
    100% {
        width: 78%;
    }
}

#py-bar {
    animation: py-fill 2s forwards;
}

@keyframes py-fill {
    100% {
        width: 50%;
    }
}


.portfolio {
    background-color: #EBEBEB;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.3rem;
    padding-bottom: 0.1rem;
    padding-top: 3rem;
}

.portfolio a {
    width: 12rem;
    height: 2.5rem;
    font-weight: 600;
    background-color: #3F3F3F;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .album {
    width: 60%;
    height: 100%;
    /* background-color: #C69749; */
    display: grid;
    grid-template-columns: repeat(auto-fit, 160px);
    grid-template-rows: repeat(2, 160px);
    gap: 1rem;

    justify-content: center;
    position: relative;
}

.portfolio .card {
    position: relative;
    width: 160px;
    height: 160px;
    transition: all .3s;
}

.portfolio .card:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.portfolio .cardActive {
    position: absolute;
    width: 160px;
    height: 160px;
    transition: all .3s;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(3);
    z-index: 10;
    overflow: hidden;
}

.portfolio .cardActive img {
    transition: all .6s ease-in-out;
}

.portfolio .cardActive:hover::after {
    position: absolute;
    content: "asdasfhsadhfaskjdf";
    width: 100%;
    height: 50%;
}

.portfolio .cardActive:hover img {
    transform: scale(1.3);
    cursor: pointer;
}

.portfolio .cardActive::after {
    position: absolute;
    /* content: "ADSFAGssf"; */
    width: 100%;
    height: 0%;
    background-color: black;
    opacity: 75%;
    bottom: 0;
    left: 0;
    transition: all .3s;
}

.portfolio img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}


footer {
    color: white;
    background-color: #252525;
    height: 40vh;

    padding: 2rem;
    padding-top: 4rem;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}

footer p {
    color: #D9D9D9;
}

footer .line {
    width: 80%;
    border: 1px solid #3E3E3E;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    padding-left: 800px;
}